@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    background:url(https://i.ibb.co.com/WGxJRQf/45126654-1.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: contain;
    width: 100%;

}